GO
USE [ispp2103]
GO
/****** Object: Table [dbo].[Author] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
[AuthorId] [int] IDENTITY(1,1) NOT NULL,
[Surname] [nvarchar](50) NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[Country] [nvarchar](30) NOT NULL,
CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED
(
[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object: Table [dbo].[Book] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
[BookId] [int] IDENTITY(1,1) NOT NULL,
[AuthorId] [int] NOT NULL,
[Title] [nvarchar](50) NOT NULL,
[Genre] [nvarchar](10) NOT NULL,
[Price] [decimal](6, 2) NOT NULL,
[Weight] [decimal](4, 3) NOT NULL,
[Pages] [smallint] NOT NULL,
[PublicationYear] [smallint] NULL,
CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED
(
[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object: Table [dbo].[Customer] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
[CustomerId] [int] IDENTITY(1,1) NOT NULL,
[Login] [varchar](20) NOT NULL,
[Surname] [nvarchar](50) NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[Address] [nvarchar](50) NOT NULL,
[Phone] [nvarchar](20) NULL,
CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED
(
[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object: Table [dbo].[Order] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
[OrderId] [int] IDENTITY(1,1) NOT NULL,
[CustomerId] [int] NOT NULL,
[OrderDatetime] [datetime] NOT NULL,
CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED
(
[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object: Table [dbo].[OrderList] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
[OrderId] [int] NOT NULL,
[BookId] [int] NOT NULL,
[Amount] [tinyint] NOT NULL,
CONSTRAINT [PK_OrderList] PRIMARY KEY CLUSTERED
(
[OrderId] ASC,
[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object: Table [dbo].[PromotionalItem] Script Date: 07.06.2024 23:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionalItem](
[PromotionId] [int] NOT NULL,
[BookId] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
[PromotionId] ASC,
[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object: Index [UQ_AuthorFullName] Script Date: 07.06.2024 23:23:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_AuthorFullName] ON [dbo].[Author]
(
[Name] ASC,
[Surname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object: Index [UQ_CustomerLogin] Script Date: 07.06.2024 23:23:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CustomerLogin] ON [dbo].[Customer]
(
[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Author] ADD CONSTRAINT [DF_Author_Country] DEFAULT (N'Россия') FOR [Country]
GO
ALTER TABLE [dbo].[Book] ADD CONSTRAINT [DF_Book_Genre] DEFAULT (N'Проза') FOR [Genre]
GO
ALTER TABLE [dbo].[Book] ADD CONSTRAINT [DF_Book_Price] DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Book] ADD CONSTRAINT [DF_Book_Weight] DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[Book] ADD CONSTRAINT [DF_Book_Pages] DEFAULT ((0)) FOR [Pages]
GO
ALTER TABLE [dbo].[Order] ADD CONSTRAINT [DF_Order_OrderDatetime] DEFAULT (getdate()) FOR [OrderDatetime]
GO
ALTER TABLE [dbo].[OrderList] ADD CONSTRAINT [DF_OrderList_Amount] DEFAULT ((1)) FOR [Amount]
GO
ALTER TABLE [dbo].[Book] WITH CHECK ADD CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Order] WITH CHECK ADD CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderList] WITH CHECK ADD CONSTRAINT [FK_OrderList_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [FK_OrderList_Book]
GO
ALTER TABLE [dbo].[OrderList] WITH CHECK ADD CONSTRAINT [FK_OrderList_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [FK_OrderList_Order]
GO
ALTER TABLE [dbo].[PromotionalItem] WITH CHECK ADD CONSTRAINT [FK_Book_PromotionalItem] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PromotionalItem] CHECK CONSTRAINT [FK_Book_PromotionalItem]
GO
ALTER TABLE [dbo].[Book] WITH CHECK ADD CONSTRAINT [CK_BookGenre] CHECK (([genre]='проза' OR [genre]='поэзия' OR [genre]='другое'))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK_BookGenre]
GO
ALTER TABLE [dbo].[OrderList] WITH CHECK ADD CONSTRAINT [CK_OrderListAmount] CHECK (([Amount]>(0) AND [Amount]<=(100)))
GO
ALTER TABLE [dbo].[OrderList] CHECK CONSTRAINT [CK_OrderListAmount]
GO
USE [master]
GO
